<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>huichu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B874D7E01D6EC84F0072B9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B874D7FC1D6EC8500072B9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B874D8071D6EC8500072B9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
